html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;

  --header: #4d81b7;
  --menu-border: #87898c;
  
  --checkbox-border: #C6C6C6;
  --checkbox-filled: #4D81B7;
  
  --item-border: #D5DFE9;
  --item-desc: #7D7A7A;

  --control-icons: #555F7C;

  --button-primary: #1871e8;
  --button-primary-hover: #1265d0;
  --button-primary-active: #4089e7;
}