html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;

  --header: #4d81b7;
  --menu-border: #87898c;
  --item-border: #D5DFE9;

  --button-primary: #1871e8;
  --button-primary-hover: #1265d0;
  --button-primary-active: #4089e7;
}